---
title: Page 1
layout: default
scripts: ['https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js']
---
Page 1
<ul>
  <% for (var item in items) { %>
    <li>
      <%= items[item] %>
    </li>
  <% } %>
</ul>
